<div class="articles-container">
    {% if articles|length > 0 %}
        {% for article in articles %}
            <div class="article-container">
                <table>
                    <tr>
                        <td>{{ article.getTitle }}</td>
                        <td>{{ article.getAuthorList }}</td>
                        <td>{{ article.getCreated }}</td>
                        <td><input type="submit" name="submit" value="Bearbeiten"></td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    {% else %}
        Es gibt noch keine Artikel.
    {% endif %}
</div>