<div class="articles-backend-container">
    {% if articles|length > 0 %}
        <div class="article-backend-container">
            <table>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.getTitle }}</td>
                        <td>{{ article.getAuthorList|first.getFirstname }} {{ article.getAuthorList|first.getName }}</td>
                        <td>{{ article.getCreated }}</td>
                        <td><input type="submit" name="submit" value="Bearbeiten"></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        Es gibt noch keine Artikel.
    {% endif %}
</div>