<div class="logo">
    <div class="name">
        <a href="http://localhost/juliuslukas/index.php?"><h1>Julius Lukas</h1></a>
    </div>
    <div class="profession">
        Journalist
    </div>
</div>
