<div class="navigation">
    <div class="about">
        <a href="">Über mich</a>
    </div>
    <div class="contact">
        <a href="">Kontakt</a>
    </div>
    <div class="logIn">
        <a href="http://localhost/juliuslukas/index.php?route=logIn">Login</a>
    </div>
</div>
