<div class="navigation">
    <div class="about">
        <a href="">Über mich</a>
    </div>
    <div class="contact">
        <a href="index.php?route=contact">Kontakt</a>
    </div>
    <div class="logIn">
        <a href="index.php?route=logIn">Login</a>
    </div>
</div>
