<form action="index.php?route=createUser" method="post" enctype="multipart/form-data">
    Vorname <input type="text" name="firstname">
    Nachname <input type="text" name="name">
    Username <input type="text" name="username">
    Mailadresse <input type="text" name="mail">
    Passwort <input type="password" name="password">
    Admin <input type="checkbox" name="isAdmin">
    <input type="submit" name="submit" value="Erstellen">
</form>