<div class="home-page js-home-page">
    <div class="js-create-author-container hidden">{% include 'partial/createAuthor.twig' %}</div>
    <form action="index.php?route=createArticle" method="post" enctype="multipart/form-data">
        Überschrift<input type="text" name="title">
        Teaser<input type="text" name="subtitle">
        Autor<select multiple name="author[]" class="js-select-author">
            {% for author in authorList %}
                <option value="{{ author.getAuthorId }}">{{ author.getFirstname }} {{ author.getName }}</option>
            {% endfor %}
        </select>
        <td><input type="button" name="create-author-button" class="js-create-author" value="Neuer Autor"></td>
        Text<input type="text" name="text">
        Bild<input type="file" name="picture">
        Tags<input type="text" nname="tags">
        <input type="submit" name="submit" value="Erstellen">
    </form>
    {% include 'module/articlesBackend.twig' %}
    {% include 'module/authorsBackend.twig' %}
    <div class="js-edit-article-container"></div>
    {% if loggedInUser.isAdmin is same as(true) %}
        {% include 'module/userBackend.twig' %}
    {% endif %}
</div>