<div class="contact-container">
    <div>
        <h2>Kontakt</h2>
        <p>Julius Lukas <br>
            Rudolf-Haym-Straße 9 <br>
            06110 Halle <br>
            0160 96421069 <br>
            juliuslukas@googlemail.com </p>
    </div>
</div>