<div class="login-container">
    <form action="index.php?route=logInRedirect" method="post">
        <input type="email" name="mail">
        <input type="password" name="password">
        <input type="submit" name="submit" value="Einloggen">
    </form>
</div>