<div class="login-container">
    <form action="index.php?route=logInRedirect" method="post">
        <label for="mail">Mailadresse:</label>
        <input type="email" name="mail" id="mail">
        <label for="password">Passwort:</label>
        <input type="password" name="password" id="password">
        <input type="submit" name="submit" value="Einloggen">
    </form>
</div>