<!DOCTYPE html>
<html>
<head>
    <title>Testpage1</title>

    <link rel="stylesheet" href="{{ templateDir }}/css/main.css">

    <script src="{{ templateDir }}/js/main.js"></script>
</head>
<body>
<header>
    <h1>Webseite Boilerplate (header)</h1>
</header>
