<title>JuliusLukas.de</title>

<link rel="stylesheet" href="{{ templateDir }}/css/main.less">

<script src="{{ templateDir }}/js/jquery-3.2.1.min.js"></script>
<script src="{{ templateDir }}/js/fancybox.min.js"></script>
<script src="{{ templateDir }}/js/main.js"></script>