<header>
    <div class="header-logo-container">
        {% include ('module/logo.twig') %}
    </div>
    <div class="header-navigation-container">
        {% include ('module/navigation.twig') %}
    </div>
</header>
